<div id="appdetails" class="detailsbox round">
	<h3> Application Details </h3>
	<ul>
		<li>	<strong> <%= @app.name %> </strong></br> </li>
		<li>	<strong> Version: <%= @app.version %> </strong></br>	</li>
		<li>	<strong> Status: <%= @app.status %> </strong></br>	</li>
		<li>	<strong> Maintainence Window: <%= @app.maintwin_day %> : <%= @app.start_time %>-<%= @app.end_time %></strong></br>	</li>
	</ul>
</div>
</br></br>
<div id="depdetails" class="detailsbox round">
	<h3> Department Details </h3>
	<ul>
		<li>	<strong> <%= @app.department.name %> </strong></br> </li>
	</ul>
</div>
</br></br>
<div id="serverdetails" class="detailsbox round">
	<h3> Server Details </h3>
	<ul>
		<li>	<strong> <%= @app.server.name %> </strong></br> </li>
	</ul>
</div>
</br></br>
<div id="hardwaredetails" class="detailsbox round">
	<h3> Hardware Details </h3>
	<ul>
		<li>	<strong> <%= @app.server.devices.first.name %> </strong></br> </li>
	</ul>
</div>
</br></br>
<div id="locationdetails" class="detailsbox round">
	<h3> Location Details </h3>
	<ul>
		<li>	<strong> <%= @app.server.devices.first.location.campus %> </strong></br> </li>
	</ul>
</div>
